body{
    font-family: 'Roboto';
    letter-spacing: .5px !important;
    color: #353535;
    background: #fafafa;
}

h3{
    font-weight: 500;
}

.section{
    padding: .5rem 1rem;
}

p#tag{
    font-weight: 500;
    font-size: .75rem;
    background: #e4e4e4;
    display: inline-block;
    padding: .4rem;
    line-height: initial;
    border-radius: 4px;
    margin: .2rem;
}

p{
    line-height: 1.5rem;
}

.button{
    background: #005cff;
    padding: .7rem;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .8px !important;
}

.button:hover{
    background: #2774fa;
}

.input{
    width: 100%;
    height: 2.5rem;
    border: #dadada 1px solid;
    border-radius: 4px;
    padding: 0 .5rem;
}